{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-account-connection-string>",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "CosmosDbConnectionString": "<cosmos-db-connection-string>",
    "CosmosDbDatabaseName": "UrlShortenerDb",
    "CosmosDbContainerName": "Links",
    "ServiceBusConnection": "<service-bus-connection-string>"
  }
}
